<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="test.Reporter"></listener>
	</listeners>
	<parameter name="suite-param" value="Suite level"></parameter>
	<test name="TestSelenium">

		<classes>
			<class name="test.RemoteTest" />
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
